@using website.Models
@model Projects

<div id="projects" class="container panel panel-default">
	<div class="panel-heading">
		<h2 class="page-title">@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	<div class="panel-body">
		<div class="panel-group">
			<div id="projects-intro" class="well">
				Here are some of my favorite projects I have worked on.
				The rest of my projects can be found at my <a href="http://bit.ly/2qqik86">GitHub</a>.
			</div>
			<noscript>
				<style>
				#projects-body {
					display: none;
				}
				</style>
				<ul>
				@foreach(var i in @Model.item)
				{
					<li><a href="@i.link">@i.name</a></li>
				}
				</ul>
			</noscript>
			<div id="projects-body">
				@* http://stackoverflow.com/a/21414081/5415895 *@
				@{
					int count = 0;
				}
				@foreach(var i in @Model.item)
				{
					@* Add a placeholder image. *@
					string img = i.img;
					if(@i.img == null)
					{
						img = "Content/graph/placeholder.png";
					}
					if(@count % 3 == 0)
					{
						@:<div class="row">
					}

					<text>
						@* Wrapper for each individual project *@
						<div class="col-md-4 project-wrapper" id=@i.id>
							<a href=@i.link>
								<img class="img-responsive proj" alt="@i.name" src=@img>
							</a>
							<h3>
								@i.name
							</h3>
							<p>
								@Html.Raw(@i.about)
							</p>
						</div>
					</text>

					if(@count % 3 == 2 || @count == @Model.item.Count-1)
					{
						@:</div>
					}

					count++;
				}
			</div><!-- projects-body -->
		</div>
		<!--
		These are more just fun things to play with, and not necesarily impressive applications,
		so I don't want to display them with the rest of the projects.
		But I want links to these projects so search engines can find them.
		So I made them hidden.
		-->
		<div style="display: none;">
			<h2>Javascript Projects</h2>
			<p>
				These are various projects I have made using the Javascript canvas.
			</p>
			<ul class="list-group">
				@foreach(var i in @Model.jsApps)
				{
					@:<li class="list-group-item">@Html.ActionLink(i, i, "Projects")</li>
				}
			</ul>
		</div> @* !panel-group *@
	</div> @* !panel-body *@
</div>
<script src="@Url.Content("~/dist/projects.min.js")"></script>