@using website.Models
@model Projects

<div class="sidebar span4 hidden-phone">
	<ul id="sidebar-menu" class="nav nav-stacked list-group">
		@foreach(var i in @Model.item)
		{
			<li class='list-group-item'><a href="#@i.id">@i.name</a></li>
		}
	</ul>
</div>

<div id="projects" class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	<div class="panel-group">
	@* http://stackoverflow.com/a/21414081/5415895 *@
		@{
			int count = 0;
		}
		@foreach(var i in @Model.item)
		{
			@* Add a placeholder image. *@
			string img = i.img;
			if(@i.img == null)
			{
				img = "Content/Graph/placeholder.png";
			}
			if(@count % 3 == 0)
			{
				@:<div class="row">
			}

			<text>
				<div class="col-md-4">
					<a href=@i.link>
						<img class="img-responsive proj" src=@img>
					</a>
					<h3>
						@i.name
					</h3>
					<p>
						@Html.Raw(@i.about)
					</p>
				</div>
			</text>

			if(@count % 3 == 2)
			{
				@:</div>
			}

			count++;
		}
	</div>
</div>