@model website.Controllers.ProjectsController

<div class="sidebar span4 hidden-phone">
	<ul id="sidebar-menu" class="nav nav-stacked list-group">
		@foreach(var i in @ViewBag.Projects.item)
		{
			<li class='list-group-item'><a href="#@i.id">@i.name</a></li>
		}
	</ul>
</div>

<div id="projects" class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewBag.Title</h2>
	</div>
	<div class="panel-group">
		@foreach(var i in @ViewBag.Projects.item)
		{
			var @id = @i.id;

			<div id="@id" class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						@i.name
					</h4>
				</div> @* panel-heading *@

				<div class="panel-body">
					@* http://stackoverflow.com/a/4282073/5415895 *@
					@Html.Raw(@i.about)

					@if(@i.display != null)
					{
						@Html.Raw(@i.display)
					}

				</div> @* panel-body *@

			</div> @* panel-default *@
		}
	</div>
</div>