@model website.Models.AsciiImage

<a href="https://github.com/TexAgg/AsciiArt"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<div class="container panel panel-default">
	<div class="panel-heading">
		<h2>@ViewContext.RouteData.Values["Controller"]</h2>
	</div>
	<div class="panel-body">
		<div>
			<p>
			Upload an image to have it converted to Ascii-Art.
			The <b>Height</b> and <b>Width</b> inputs determine how many characters will be used.
			If no values are provided, the number of pixels will be used. 
			Keep in mind that this will result in a lot of text.
			</p>
			<p>
			The source code for this can be found <a href="https://github.com/TexAgg/AsciiArt">here</a>.
			</p>
		</div>

		<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
			<div class="input-group">
				@Html.LabelFor(model => model.File)
				@Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control" })
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.Width)
				@Html.TextBoxFor(model => model.Width, new { type = "number", @class = "form-control" })
			</div>
			<div class="input-group">
				@Html.LabelFor(model => model.Height)
				@Html.TextBoxFor(model => model.Height, new { type = "number", @class = "form-control" })
			</div>
			<input type="submit" class="btn btn-default" />
		</form>
	</div>
</div>